USE [master]
GO
/****** Object:  Database [HotelKasurEmpuk]    Script Date: 6/17/2020 12:04:10 AM ******/
CREATE DATABASE [HotelKasurEmpuk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelKasurEmpuk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HotelKasurEmpuk.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelKasurEmpuk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HotelKasurEmpuk_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelKasurEmpuk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelKasurEmpuk]
GO
/****** Object:  Table [dbo].[Kamar]    Script Date: 6/17/2020 12:04:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kamar](
	[kamarID] [int] NOT NULL,
	[Harga] [int] NULL,
	[Jumlah] [int] NULL,
	[Jenis] [varchar](50) NULL,
 CONSTRAINT [PK_Kamar] PRIMARY KEY CLUSTERED 
(
	[kamarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
